# Ignore Visual Studio temporary files
.vs/
# Ignore large video file
Resources/zoo_video.mp4

# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# Logs
*.log
